.ipynb_checkpoints
.idea
__pycache__
archive/
data/*csv
data/hiddenData
testCases/

metal-nanoparticle-box-counting-dimension-analysis-original.ipynb
figures/predModel/
figures/metrics/
TODO

metal-nanoparticle-box-counting-dimension-comparisons-across-representations-shapes-sizes-elements-monometallic.ipynb
metal-nanoparticle-box-counting-dimension-melting-trajectory-analysis-bimetallic.ipynb
metal-nanoparticle-box-counting-dimension-sample-removal-impact.ipynb
